@model SistemaMVC2.Models.Electrodomestico

@{
    ViewBag.Title = "Editar Electrodoméstico";
}

<h2>✏️ Editar Electrodoméstico</h2>

<div class="container-form">
    @using (Html.BeginForm("Edit", "Electrodomestico", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ElectrodomesticoId)

        <div class="form-group">
            @Html.LabelFor(m => m.Tipo)
            @Html.TextBoxFor(m => m.Tipo, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Modelo)
            @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Precio)
            @Html.TextBoxFor(m => m.Precio, new { @class = "form-control" })
        </div>

        <div class="btn-group-custom">
            <button type="submit" class="btn btn-primary btn-lg">💾 Guardar cambios</button>
            @Html.ActionLink("❌ Cancelar", "Index", null, new { @class = "btn btn-default btn-lg" })
        </div>
    }
</div>
